// Add your own CSS here!

:root {
  --light: #f1f1f1;
  --dark: #444444;
  --secondary: #8c69ff;
  --tertiary: #8c69ff;
  --visited: #8c69ff;
  --primary: #f05b83;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #141021 !important;
  --dark: #fbfffe !important;
  --secondary: #8c69ff !important;
  --tertiary: #8c69ff !important;
  --visited: #8c69ff !important;
  --primary: #f05b83 !important;
  --gray: #d4d4d4 !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
  --highlighted: #574010;
}